---
import { getLangFromUrl, localizePath, useTranslations } from "@/i18n/utils";
import Layout from "../layouts/Layout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
	title={t("404.title")}
	description={t("404.description")}
	scrollSmooth={false}
>
	<>
		<div class="not-found-wrapper">
			<span aria-hidden="true" role="img" aria-label={t("404.shrugAria")}
				>¯\_(ツ)_/¯</span
			>
			<h1>404</h1>
			<p>{t("404.heading")}</p>
			<a
				href={localizePath("/", lang)}
				class="my-6 text-lg underline decoration-dashed underline-offset-8"
				aria-label={t("404.backAria")}
			>
				{t("404.back")}
			</a>
		</div>
	</>
</Layout>

<style>
	.not-found-wrapper h1 {
		@apply text-9xl font-bold text-primary-light;
	}
	.not-found-wrapper {
		@apply mb-14 flex flex-col items-center justify-center;
	}
	.not-found-wrapper p {
		@apply mt-4 text-2xl sm:text-3xl;
	}
</style>
