---

---

<footer class="container py-4 text-center">
	<p>
		Made with ❤️ by <a
			href="https://github.com/Alexis-Pannetier"
			target="_blank"
			rel="noopener noreferrer">Alexis Pannetier</a
		>.
	</p>
</footer>
