---
import { ME, COLORS } from "@/config";
import workExperience from "@/data/Jobs";
const { profileFacts } = ME;

const completedMissionsCount = workExperience.filter((job) => !job.currentJob).length;

const getFactValue = (fact: (typeof profileFacts)[number]) => {
  if (typeof fact.start === "number") {
    return new Date().getFullYear() - fact.start;
  }

  if (fact.description.toLowerCase()) {
    return completedMissionsCount;
  }
};
---

<div class="flex justify-around gap-1 text-center">
  {profileFacts.map((fact) => (
    <div class="flex flex-col items-center justify-center gap-2">
      <h3
        class="text-2xl font-bold"
      >
        {getFactValue(fact)}
      </h3>
      <p class="text-md text-n500 dark:text-n200">
        <span style={`color: ${fact.color === "secondary" ? COLORS.secondary : COLORS.primary}`}>
          {fact.description}
        </span>
      </p>
    </div>
  ))}
</div>