---
import { COLORS, getMeConfig } from "@/config";
import { getLangFromUrl } from "@/i18n/utils";
import workExperience from "@/data/Jobs";
const lang = getLangFromUrl(Astro.url);
const { profileFacts } = getMeConfig(lang);

const completedMissionsCount = workExperience.filter((job) => !job.currentJob).length;

const getFactValue = (fact: (typeof profileFacts)[number]) => {
  if ("start" in fact && typeof fact.start === "number") {
    return new Date().getFullYear() - fact.start;
  }

  if (fact.description.toLowerCase()) {
    return completedMissionsCount;
  }
};

const getFactColor = (fact: (typeof profileFacts)[number]) => {
	if ("color" in fact && fact.color === "secondary") {
		return COLORS.secondary;
	}
	return COLORS.primary;
};
---

<div class="flex justify-around gap-1 text-center">
  {profileFacts.map((fact) => (
    <div class="flex flex-col items-center justify-center gap-2">
      <h3
        class="text-2xl font-bold"
      >
        {getFactValue(fact)}
      </h3>
      <p class="text-md text-n500 dark:text-n200">
		<span style={`color: ${getFactColor(fact)}`}>
          {fact.description}
        </span>
      </p>
    </div>
  ))}
</div>